@{
    ViewBag.Title = "Confirmation Email Sent";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="content" style="width: 80%">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Please check your email and confirm your email address.
        </p>
    </div>
</div>