@{
    ViewBag.Title = "Confirm Email";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="content" style="width: 80%">
    <hgroup>
        <h2>@ViewBag.Title.</h2>
        <h3 class="text-danger">Unsuccessful login with service.</h3>
    </hgroup>
</div>