@{
    ViewBag.Title = "Forgot Password Confirmation";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="content" style="width: 80%">
    <h2>@ViewBag.Title.</h2>
    <div>
        <p>
            Please check your email to reset your password.
        </p>
    </div>
</div>
