@model JoS.ViewModel.ForgotPasswordViewModel
@{
    ViewBag.Title = "Forget Password?";
    Layout = "~/Views/Shared/_LayoutAuthentication.cshtml";
}

<div class="content">
    <!-- BEGIN FORGOT PASSWORD FORM -->
    <section id="forgetPasswordForm" style="display: block;">
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
        {
            <form class="forget-form">
                <h3 class="font-green">Forget Password ?</h3>
                <p> Enter your e-mail address below to reset your password. </p>
                @Html.AntiForgeryToken()
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email" })
                </div>
                <div class="form-actions">
                    @Html.ActionLink("Back", "Login", null, new { @class = "btn green btn-outline" })
                    <button type="submit" id="register-submit-btn" value="Email Link" class="btn btn-success uppercase pull-right">Submit</button>
                </div>
            </form>
        }
    </section>
    <!-- END FORGOT PASSWORD FORM -->
</div>